{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chatondl16s list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Qualite</th>
                <th>Marquecroquettes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chatonDL16 in chatonDL16s %}
            <tr>
                <td><a href="{{ path('chatondl16_show', { 'id': chatonDL16.id }) }}">{{ chatonDL16.id }}</a></td>
                <td>{{ chatonDL16.nom }}</td>
                <td>{{ chatonDL16.qualite }}</td>
                <td>{{ chatonDL16.marqueCroquettes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chatondl16_show', { 'id': chatonDL16.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chatondl16_edit', { 'id': chatonDL16.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chatondl16_new') }}">Create a new chatonDL16</a>
        </li>
    </ul>
{% endblock %}
