{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chatondl16</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chatonDL16.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chatonDL16.nom }}</td>
            </tr>
            <tr>
                <th>Qualite</th>
                <td>{{ chatonDL16.qualite }}</td>
            </tr>
            <tr>
                <th>Marquecroquettes</th>
                <td>{{ chatonDL16.marqueCroquettes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chatondl16_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chatondl16_edit', { 'id': chatonDL16.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
